* {
  font-family: tahoma;
}

.task-view {
  font-size: 8pt;
}

#board a {
  color: #fff;
}

.board a:hover {
  color: #fff;
  text-decoration: underline;
}

.story-ToDo, .task-todo {
    background-color: #255a85;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    border-radius: .25em;
    margin-bottom: 5px;
}

.task-done {
  background-color: #626262;
  padding: .2em .6em .3em;
  color: #fff;
  text-align: center;
  border-radius: .25em;
  margin-bottom: 5px;
}

.story-WIP, .task-wip {
  background-color: #957e00;
  padding: .2em .6em .3em;
  color: #fff;
  text-align: center;
  border-radius: .25em;
  margin-bottom: 5px;
}

.story-Resolved {
  background-color: #096109;
  padding: .2em .6em .3em;
  color: #fff;
  text-align: center;
  border-radius: .25em;
  margin-bottom: 5px;
}
